
* {
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: aquamarine;
}
.rps{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 600px;
    border: 4px solid rgb(204, 9, 9);
    box-shadow: 8px 8px 8px gray;
    margin-top: 20px;
    padding: 20px;
}

h2 {
    background-color: aqua;
    font-size: 42px;
    color:beige;
    text-shadow: 1px 1px 4px black;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    box-shadow: 6px -6px 6px gray;

}
.options {
    display: block;
    text-align: center;
    margin: 20px;
}

button {
    color: red;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    border-radius: 6px;
    border: 4px solid black;
    margin: 10px;
    width: 140px;
    height: 140px;
    transition: all .2s ease;

}
.playing {
    transform: scale(1.3);
    border-color: red;
    background-color: pink;
  }
.restart{
    background-color: aqua;
    border-color: rgb(15, 107, 246);
    transform: scale(1.3);
}
  
#computer-option{
    display: flex; 
    align-items: center;
    margin: 20px;

}
#computer {
    width: 70px;
    height: 30px;
    background-color: rgb(73, 195, 232);
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 5px;
}
p { 
    background: rgb(244, 244, 144);
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.round{
    display: inline-flex;
    align-items: center;

}
h3 {
    display: inline-block;
    background-color: aquamarine;
    padding: 8px;
    font-size: 28px;
    color: bisque;
    text-shadow: 1px 1px 2px black;
    border: 2px solid red;

}
#results {
    background: rgb(243, 76, 76);
    display: inline-flex;
    align-items: center;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    padding: 7px;

}
p, #computer, #results {
    font-size: 22px;
    padding-left: 10px;
    border: 1px solid black;

}
.your_points, .computer_points {
    display: flex;
    align-items: center;
}
.youwinn, .computerwinn{
    font-size: 28px;
    font-weight: bold;
}
.scoretable{
    display: inline-flex;
    align-items: center;
}
